/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* */

/* background body */
body {
    background-color: #F4EDDD;
}

/* Lema */
.lema {
    background-color: #b62b18;
}
.lema p {
    padding: 5px;
    text-align: center;
    color: #f4eddd;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* Logo */
.containerLogo {
    margin-left: 38%;
    margin-top: 1%;
}
.logo {
    width: 40%;
    height: 40%;
}

/*Navbar*/
.navbarList {
    text-align: center;
}
.navbarList li{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    margin-right: 18px;
   
}

.navbarList li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 16px;
}

.navbarList li a:hover {
    border-top: 1px solid #B7441E;
    border-bottom: 1px solid #B7441E;
}

/* Carrousel */
.container {
    padding: 2rem;
}

.sliderWrapper {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit:cover;
}

.sliderNav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.sliderNav a {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.50;
    transition: opacity ease 250ms;
}

.sliderNav a:hover {
    opacity: 1;
}

/* Introduccion */

.intro {
    text-align: center;
    color: #b62b18;
    font-family: 'Lilita One', sans-serif;
    font-size: 22px;
    margin-top: 50px;
}
.introParrafo {
    text-align: center;
    font-family: 'Montserrat', sans-serif ;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
}